{% load static %}
<html>
    <head>
        <title>Deungma</title>
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Deungma</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    <div class="footer">
        <!--
        <figure class="youtube-player-figure">
            <iframe class="youtube-player-iframe" src="https://www.youtube.com/embed/videoseries?list=PL0tCkykDZsHSnO2Hvld8g4-4-MwTtOq0Q&amp;autoplay=1?enablejsapi=1&rel=0&showinfo=0&controls=0" frameborder="0"></iframe>
        </figure>
        -->
        <div class="spotify-player">

        <iframe src="https://open.spotify.com/embed/user/nagyszblcs2/playlist/78SIEgdS4P1FXrxG6x7jdO" width="300" height="235" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        </div>
    </div>
    </body>
</html>

