/* relevant styles */


.img__wrap {
  position: relative;
    width:700px;
        margin: 0 auto;


}

.img__description_layer {

  width:700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(125, 125, 125, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    margin: 0 auto;

  /* transition effect. not necessary */
  transition: opacity .5s, visibility .5s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .5s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.page-header {
    background-color: #03674b;
    margin-top: 0;
    padding:5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:10000;
    height:50px;
    border:0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 22pt;
    text-decoration: none;
    margin: 0 auto;
    padding: 5px;

}

.content {
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Papyrus', cursive;
}

a {
    font-family: 'Papyrus', cursive;
    color: white;
    font-size: 25px;
    text-decoration: none !important;
}

a:hover
{
    color:white;
    font-size: 40px;
    font-weight:bold;
}
.date {
    width: 700px;
    color: #828282;
    font-family: 'Papyrus', cursive;
    font-size:15px;
    text-align:right;
    margin:0 auto;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin: 0 auto;
    margin-top:15px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.image_list
{
    width: 700px;
}

.col-md-8
{
        margin: 0 auto;
    float:none;
}

.row
{
    margin: 0 auto;
}
/*

.image-list:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.image-list
{
    width: 500px;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
     -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
*/

.youtube-player-figure{
        float:right;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.new-post{
    height:50px;
    padding:15px;
    margin:0 auto;
}

.new-post-link
{
    color: black;
}

.new-post-link a:hover
{
    color: red; !important;
}

.spotify-player
{
    float:right;
}

.post-image
{
    width:500px;
}

.post-date {
    color: #828282;
    font-family: 'Papyrus', cursive;
    font-size:15px;
    margin-bottom:15px;
}